@use '@angular/material' as mat;

$qqblue-palette: (
    50 : #d2efff,
    100 : #86d3ff,
    200 : #4ebfff,
    300 : #06a5ff,
    400 : #0094e7,
    500 : #0080c8,  // QQDEN color
    600 : #006ca9,
    700 : #00598b,
    800 : #00456c,
    900 : #00324e,
    A100 : #c8ebff,
    A200 : #62c6ff,
    A400 : #00a1fb,
    A700 : #0090e1,
    contrast: (
        50 : #000000,
        100 : #cfcfcf,
        200 : #efefef,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,  // QQDEN contrast color
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

// The typography created via mat.define-typography-config($font-family: 'Lato, "Helvetica Neue", Arial, sans-serif');
// results in characters a bit too much gap in between. The below typography,
// based on material/core/typography/_typography.scss definitions.
$qq-typography: mat.define-typography-config(
  $font-family: 'Lato, "Helvetica Neue", Arial, sans-serif',
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 400),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $subtitle-2: mat.define-typography-level(16px, 28px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
);

// $qq-typography: mat.define-typography-config(
//   $font-family:   'Lato, "Helvetica Neue", sans-serif',
// );

$qq-primary: mat.define-palette($qqblue-palette, 500);
$qq-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$qq-red: mat.define-palette(mat.$red-palette, A200, A100, A400);
// $qq-typography: mat.define-typography-config($font-family: 'Lato, "Helvetica Neue", Arial, sans-serif');

// Need this for mat-typograpgy class to generated (our body is styled using this)
@include mat.typography-hierarchy($qq-typography);

$qq-theme: mat.define-light-theme((
  color: (
    primary: $qq-primary,
    accent: $qq-accent,
  ),
  typography: $qq-typography,
  density: -1
));

.qq-light-background {
  background-color: mat.get-color-from-palette($qq-primary, 200-contrast);
}
.qq-inverse-color {
  background-color: mat.get-color-from-palette($qq-primary, 500);
  color: mat.get-color-from-palette($qq-primary, 500-contrast);
}
// for quick access to palette colors, you can also do this for lighter, darker and contrast versions
// $primary-color-default: mat-color($qq-primary);
// $accent-color-default: mat-color($qq-accent);
// $warn-color-default: mat-color($qq-warn);
