.busy-wheel-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999998;
  background-color: rgba(255, 255, 255, 0.4);
}
/* to be applied when the busy wheel is to be centered within an element,
like a dialog. */
.busy-wheel-backdrop-dim-100 {
  width: 100%;
  height: 100%;
}
/* to be used when the busy-wheel is to be centered within the viewport */
.busy-wheel-backdrop-dimwh-100 {
  width: 100vw;
  height: 100vh;
}
.busy-wheel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: rgba(255, 255, 255, 0.3);
}
.busy-wheel,
.busy-wheel:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.busy-wheel {
  margin: auto auto;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(0, 0, 0, 0.8);
  border-right: 0.5em solid rgba(0, 0, 0, 0.8);
  border-bottom: 0.5em solid rgba(0, 0, 0, 0.8);
  border-left: 0.5em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
