/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Lato, Arial, sans-serif;
  margin: 0;
}
:root {
  --corporate-blue: rgb(0, 128, 200);
  --corporate-blue-contrast: rgb(64, 192, 236);
  --corporate-red: rgb(192, 64, 64);
  --corporate-white: rgba(232, 232, 232);
  --qq-sidenav-border-color: var(--corporate-blue-contrast);
  --qq-sidenav-fg-color: var(--corporate-white);
  --qq-sidenav-bg-color: var(--corporate-blue);
  --qq-toolbar-fg-color: var(--corporate-white);
  --qq-toolbar-bg-color: var(--corporate-blue);
  --qq-menu-item-fg-color: var(--corporate-white);
  --qq-menu-item-bg-color: var(--corporate-blue);
  --qq-highlighted-menu-item-fg-color: var(--corporate-blue);
  --qq-highlighted-menu-item-bg-color: var(--corporate-white);;
}

