/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Lato,
    density: -3
  ), $overrides: (
    primary: #0080c8, // override primary color
  ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

// This removes the default rounded corners from the mat-drawer.
.mat-drawer {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
// @include mat.elevation-classes();
// @include mat.app-background();

// @include mat.all-component-themes($my-theme);
// Without this, only the material defined components (heading 1-5, title, subtitle, etc)
// get styled. With this, the typography property is applied to
// all HTML elements (p, div, span, etc). Thanks to https://stackoverflow.com/a/74614277/744769.
// @include mat.all-component-typographies($my-theme);

:root {
  --sidemenu-background: var(--mat-sys-primary);
  --sidemenu-foreground: var(--mat-sys-on-primary);
  --sidemenu-border-color: var(--mat-sys-outline);

  --sp-mat-menu-border-color: var(--sidemenu-border-color);
  --sp-mat-menu-toolbar-border-color: var(--sidemenu-border-color);
  --sp-mat-menu-fg-color: var(--sidemenu-foreground);
  --sp-mat-menu-bg-color: var(--sidemenu-background);
  --sp-mat-menu-toolbar-fg-color: var(--sidemenu-foreground);
  --sp-mat-menu-toolbar-bg-color: var(--sidemenu-background);
  --sp-mat-menu-menu-item-fg-color: var(--sidemenu-foreground);
  --sp-mat-menu-menu-item-bg-color: var(--sidemenu-background);
  --sp-mat-menu-highlighted-menu-item-fg-color: var(--sidemenu-background);
  --sp-mat-menu-highlighted-menu-item-bg-color: var(--sidemenu-foreground);
  --sp-mat-menu-sidemenu-max-width: 260px;
  --mat-sidenav-container-width: 260px;
  // This removes the transparency from the mat-select-search input box.
  --mat-select-panel-background-color: var(--mat-sys-surface);
}

mat-sidenav {
  width: 260px;
}
.ex-content-container {
  padding: 8px;
  height: 100%;
  overflow: scroll !important;
}
.sp-mat-crud-list-pane-wrapper-class {
  padding: 0.4em;
}
.sp-mat-crud-preview-pane-wrapper-class {
  padding: 0.0em;
}
.sp-mat-crud-preview-pane-content-class {
  padding: 0.0em;
}
.sp-mat-crud-form-pane-content-class {
  padding: 0.0em;
}
.text-end {
  text-align: end;
}
.text-bold {
  font-weight: bold;
}
.text-larger {
  font-size: larger;
}
.text-green {
  color: darkgreen;
}
.text-red {
  color: darkred;
}
// .text-end .mat-sort-header-container {
//   display: flex;
//   justify-content: end;
// }
